# --- terraform/environments/dev/terraform.tfvars ---
#
# This file provides the configuration values for the 'dev' environment.
# DO NOT COMMIT THIS FILE TO GIT.  

# Names in this file now directly match variables.tf
azure_location = "canadacentral"

# PREPROVISIONED by LANDING ZONE BC Government
dev_service_principal_id = ""
dev_vnet_name             = ""
dev_vnet_resource_group   = ""
dev_vnet_address_space     = [""]
dev_vnet_dns_servers       = [""]
dev_vnet_id               = ""

# CREATED BY USER IDENTITY in AZURE policy won't allow by terraform
dev_resource_group       = ""
dev_resource_id          = ""
dev_resource_group_b       = "" 

## CREATED BY TERRAFORM
dev_storage_account_name = ""

dev_file_share_name = ""
dev_file_share_quota_gb = 10

dev_network_security_group = ""

dev_subnet_name             = ""
dev_subnet_address_prefixes = [""]

dev_dns_servers = [""]

dev_vnet_dns_servers = [""]

common_tags = {
  project        = ""
  owner          = ""
  account_coding = ""
  billing_group  = ""
  ministry_name  = ""
}